/* stylesheet for appiontment page  */
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    font-family: 'Merienda', cursive;
    background-image: url(../images/bodybg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* content  */
.container {
    background: #6C3DD9;
    height: 95%;
}

.appimg img {
    margin-left: 100px;
    margin-top: 200px;
    border-radius: 20px 20px;
    float: left;
    box-shadow: -1px 9px 14px 7px rgba(26, 22, 26, 0.52);
}
.appimg img:hover{
    box-shadow: 5px 10px 18px #888888;
}
.appimg h4 {
    color: white;
    text-align: center;
    padding-top: 20px;
    
}

.abtdoc {
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin-left: 45%;
    padding-top: 100px;
}

.texts h2 {
    padding-top: 60px;
    color: white;
    text-shadow: 1px 1px rgb(124, 118, 118);
}

.infos h4 {
    padding-top: 65px;
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 1px rgb(124, 118, 118);
}
