/* stylesheet for booking page  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merienda', cursive;
    margin: 0px;
    
    background-image: url(../images/circle-scatter-haikei3.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@keyframes slide{
    0%{opacity: 0;}
    100%{ opacity: 1;}
    }

/* content starts  */
.sec1h1 {
    background-image: linear-gradient(rgb(4, 9, 30, 0.7), rgb(4, 9, 30, 0.7)), url(../images/bookback.jpg);
    background-attachment: fixed;
    background-size: 1510px;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 30vh;
    text-align: center;
    font-size: 40px;
    padding-top: 150px;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
}
.donationbg{
    background-image: linear-gradient(rgb(4, 9, 30, 0.7), rgb(4, 9, 30, 0.7)), url(../images/donationrequest.jpg);
    background-position: bottom;
}
/* animation*/
.sec1h1 h1{
    background: url(../images/back.png);
    color: transparent;
    -webkit-text-stroke: 0.50px white;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation:back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}


.sec2 h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    /* animation-name: slide;
    animation-duration: 2s; */
}
/* button  */
.join {
    cursor: pointer;
    background-color: #6C3DD9;
    color: white;
    font-weight: bold;
    padding: 20px 65px;
    border: none;
    margin-top: 80px;
    animation-name: slide;
    animation-duration: 2s;
    border-radius: 20px;
    position: relative; 
    right: 50px;
    text-transform: uppercase;
}

.join:hover {
    background-color: #f2f2ff;
    color: #6C3DD9;
    /* border: 2px solid #6C3DD9 */
    
   
}
.pointer{
    position: absolute;
    right: 0px;
    top: 0px;
}
/* drop down style  */
.dropdown-menu {
    position: relative;
    right: 250px;
    display: none;
    width: 350px;
} 
.dropdown1{
   height: 0px;
}
.dropdown-menu1 {
    display: none;
    position: relative;
    right: 250px;
    border: 2px solid #6C3DD9
}


.dropdown-menu1 ul li {
    margin-bottom: 10px;
    list-style: none;

}

.dropdown-menu1 ul li a {
    text-decoration: none;
    padding-left: 60px;
    padding-bottom:50px ;
}

.dropdown1:hover .dropdown-menu1 {
    background-color: aliceblue;
    height: 130px;
    width: 170px;
    border: 2px solid #6C3DD9;
    display: block;
    position: relative;
    right: 0px;
   margin-top: 10px;
    padding-bottom: 15px;
}
#drop{
    margin-top: 0px auto;
    
}


/* .dropdown1:hover .dropdown-menu ul li {
    width: 120px;
    border: 2px solid green;
} */

.hos1 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 60px;
animation-name: slide;
height: 200px;
}

.hos1 img {
    border-radius: 20px;
    transition: 0.5s;
    animation-duration: 2s;
    animation-name: slide;
    box-shadow: 5px 10px 18px #888888;
}
.hos1 p {
    padding-top: 10px;
    margin-left: 120px;
    width: 500px;
    font-family: 'Merienda', cursive;
    font-size: 20px;
    font-weight: bold;
    animation-name: slide;
    animation-duration: 2s;
}
.contactholder{
    width: 800px;
}
span{
    color: #6C3DD9;
    font-weight: bolder;
}


.container {
    position: absolute;
    top: 50px;
  right:100px;

}