* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* nav bar  */
.menu-bar {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d70f64;
}

.menu-bar img {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 100px;
}

.menu-bar ul {
    list-style: none;
    display: flex;
    margin-top: 0px;
}

.menu-bar ul li {
    position: relative;
    margin-right: 30px;
    list-style: none;
    font-size: 18px;
    padding-top: 6px;
    font-weight: 400;
}

.menu-bar ul li::after {
    content: '';
    display: block;
    background-color: white;
    height: 2px;
    width: 0%;
    margin: auto;
    transition: 0.5s;
}

.menu-bar ul li:hover::after {
    width: 100%;
}

.menu-bar ul li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

/* nav ends  */
.bgimg {
    height: 800px;
    background-image: url(../images/contactbg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(40px);
}

.contactadd {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #d70f64;
    position: absolute;
    top: 250px;
    left: 150px;
    width: 80%;
}

.contactadd h1 {
    margin-top: 20px;
    color: #d70f64;
    text-shadow: 2px 2px 10px white;
    text-transform: uppercase;
    text-align: center;
}

.contactadd h1:hover {
    color: #f1f1f1;
    text-shadow: 2px 2px 10px #d70f64;
}

.contactadd h3 {
    margin: 20px;
    color: #d70f64;
    text-transform: uppercase;
    margin-left: 100px;
}

.contactadd p {
    margin-top: 20px;
    text-transform: uppercase;
    margin-left: 200px;
}

.contactadd h2 {
    margin-top: 50px;
    color: #d70f64;
    text-shadow: 2px 2px 10px white;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 70px;
}