* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* nav bar  */
.menu-bar {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d70f64;
}

.menu-bar img {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 100px;
}

.menu-bar ul {
    list-style: none;
    display: flex;
    margin-top: 0px;
}

.menu-bar ul li {
    position: relative;
    margin-right: 30px;
    list-style: none;
    font-size: 18px;
    padding-top: 6px;
    font-weight: 400;
}

.menu-bar ul li::after {
    content: '';
    display: block;
    background-color: white;
    height: 2px;
    width: 0%;
    margin: auto;
    transition: 0.5s;
}

.menu-bar ul li:hover::after {
    width: 100%;
}

.menu-bar ul li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.abtdoc {
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin-left: 10%;
    padding-top: 110px;

}

.abtdoc img {
    position: absolute;
    left: 70%;
    z-index: -1;
    width: 25%;
}

.texts h2 {
    padding-top: 60px;
    color: #d70f64;
    text-shadow: 1px 1px rgb(124, 118, 118);
}

h1 {
    color: #d70f64;
    text-align: center;
    margin-top: 40px;
}

.formbox {
    background-color: white;
    height: 62%;
    width: 30%;
    position: absolute;
    left: 35%;

    border-radius: 20px;
    top: 29%;
}

.firstname input {
    border-bottom: 2px solid #d70f64;
    outline: none;
    font-size: 20px;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding-left: 40px;
    width: 370px;
    color: black;
}

.mobileno {
    margin-top: 70px;
}

.mobileno input {
    border-bottom: 2px solid #d70f64;
    outline: none;
    font-size: 20px;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding-left: 40px;
    width: 370px;
    color: black;
}

.mail {
    margin-top: 70px;
}


.mail input {
    border-bottom: 2px solid #d70f64;
    outline: none;
    font-size: 20px;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding-left: 40px;
    width: 370px;
    color: black;
}

.text {
    position: relative;
    top: 85px;
    border: none;
    width: 400px;
    left: 20px;
}



.pass input {
    border-bottom: 2px solid #d70f64;
    outline: none;
    font-size: 20px;
    padding-left: 40px;
    width: 370px;
    color: black;
}

.password {
    position: relative;
    top: 100px;
    border: none;
    width: 400px;
    left: 20px;
    margin-top: 70px;
}

.paymentimgs img {
    width: 50px;
    position: relative;
    margin-right: 80px;
    left: 20%;
    margin-top: 40px;
}

.paymentimgs {
    margin-top: 200px;
}
.paymentimgs p{
    margin-top: 70px;
    color: #d70f64;
    text-align: center;
    text-transform: uppercase;
}

.paymentimgs h2 {
    margin-left: 30%;
    color: #d70f64;
}
.paymentimgs h3 {
    margin-left: 33%;
    color: #d70f64;
    margin-top: 40px;
}

#hr {
    position: relative;
    top: 120px;
    width: 500px;
    left: 250px;
}

/* footer  */
.foot1 {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px 0px 160px;
    color: white;
}
footer{
    background-color: #d70f64;
}
.fb img {
    padding-left: 15px;
}

.foot2 {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px 0px 160px;
    color: white;
}

.foot2p p {
    font-weight: 500;
    padding-top: 20px;
}

.foot22p {
    display: flex;
}

.foot22p p {
    padding-left: 60px;
    padding-top: 20px;
    font-weight: 500;
    margin-bottom: 50px;
}

.foot3 {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 30px 100px 0px 160px;
}

.foot3 p {
    padding-left: 30px;
}