* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* nav bar  */
.menu-bar {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d70f64;
}

.menu-bar img {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 100px;
}

.menu-bar ul {
    list-style: none;
    display: flex;
    margin-top: 0px;
}

.menu-bar ul li {
    position: relative;
    margin-right: 30px;
    list-style: none;
    font-size: 18px;
    padding-top: 6px;
    font-weight: 400;
}
/* menu bar hover style  */
.menu-bar ul li::after {
    content: '';
    display: block;
    background-color: white;
    height: 2px;
    width: 0%;
    margin: auto;
    transition: 0.5s;
}

.menu-bar ul li:hover::after {
    width: 100%;
}

.menu-bar ul li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

/*navbarends*/
.sec1h1 {
    background-image: linear-gradient(rgb(4, 9, 30, 0.7), rgb(4, 9, 30, 0.7)), url(../images/govtschemebg.jpg);
    background-attachment: fixed;
    background-size: 1510px;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 30vh;
    text-align: center;
    font-size: 40px;
    padding-top: 150px;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
}


table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 15px;
}

tr:nth-child(odd) {
    background-color: #fbcee1;
}
th{
    background-color: #d70f64;
    color: white;
}
td{
    border: 2px solid gray;
}
table{
    width:1300px;
    margin: 90px;
    border: 2px solid gray;
}
/* footer  */
footer {
    background-color: #d70f64;
    padding-top: 50px;
}
.foot1 {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px 0px 160px;
    color: white;
}
.fb img {
    padding-left: 15px;
}
.foot2 {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px 0px 160px;
    color: white;
}
.foot2p p {
    font-weight: 500;
    padding-top: 20px;
}
.foot22p {
    display: flex;
}
.foot22p p {
    padding-left: 60px;
    padding-top: 20px;
    font-weight: 500;
    margin-bottom: 50px;
}
.foot3 {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 30px 100px 0px 160px;
}
.add p {
    padding-left: 30px;
}
.mail p {
    padding-left: 30px;
}