/* style sheet for get involovve page and schemes  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merienda', cursive;
   
   
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu-bar {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.menu-bar img {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 100px;
}

.menu-bar ul {
    list-style: none;
    display: flex;
    margin-top: 0px;
}

.menu-bar ul li {
    position: relative;
    margin-right: 30px;
    list-style: none;
    font-size: 18px;
    padding-top: 6px;
    font-weight: 400;
}

.menu-bar ul li::after {
    content: '';
    display: block;
    background-color: #6C3DD9;
    height: 2px;
    width: 0%;
    margin: auto;
    transition: 0.5s;
}

.menu-bar ul li:hover::after {
    width: 100%;
}

.menu-bar ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #6C3DD9;
}
@media screen and (max-width:600px) {
    .menu-bar {
      height: 80px;
      display:contents ;
      justify-content: space-between;
      align-items: none;
      position: sticky;
      top: 0px;
      /* border: 2px solid red; */
      background-color: #fff;
    
    }
    
    .menu-bar img {
      margin-left:0px;
      margin-top: 0px;
      width: 80px;
      /* border: 2px solid red; */
      position: relative;
      left:40%;
      
    }
    
    .menu-bar ul {
      display: flex;
      margin-top: 10px;
      width:550px;
      margin-left: 10px;
      /* border: 2px solid red; */
     
    }
    
    .menu-bar ul li {
      position: relative;
      margin-right: 13px;
      list-style: none;
      padding-top: 6px;
      
    }
    .menu-bar ul li a {
      font-size: 9px;
      text-decoration: none;
      color: #6C3DD9;
     
    }
}
/* buy bg  */
.gethelpbg {
    background-image: linear-gradient(rgb(4, 9, 30, 0.7), rgb(4, 9, 30, 0.7)), url(../images/govt2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 30vh;
    text-align: center;
    font-size: 40px;
    padding-top: 150px;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    /* width: 1137px; */
}
/* animation*/
.gethelpbg h1{
    background: url(../images/back.png);
    color: transparent;
    -webkit-text-stroke: 0.50px white;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation:back 20s linear infinite;
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
@media screen and (max-width:600px) {
    .gethelpbg {
        background-image: linear-gradient(rgb(4, 9, 30, 0.7), rgb(4, 9, 30, 0.7)), url(../images/govt.jpg);
        background-attachment: fixed;
        background-size: 700px;
        background-position: top;
        background-repeat: no-repeat;
        min-height: 15vh;
        text-align: center;
        font-size: 20px;
        padding-top: 150px;
        text-transform: uppercase;
        font-weight: 400;
        color: white;
        letter-spacing: 1px;
    }
}
/* button  */
.join {
    cursor: pointer;
    background-color:#6C3DD9;
    color: white;
    font-weight: 500;
    position: relative;
    left: 190px;
    padding: 20px 85px;
    border: none;
    animation-name: slide;
  animation-duration: 2s;
    margin-top: 40px;
   border-radius: 20px;
}
.join:hover{
    background-color: #f2f2ff;
    color: #6C3DD9;
    border: 1px solid #6C3DD9;
    padding: 18px 83px;
}
.sec1{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    /* border: 2px solid red; */
}
.sec1 h1{
    color: #6C3DD9;
    text-align: center;
    margin-top: 80px;
    animation-name: slide;
  animation-duration: 2s;
  /* border: 2px solid black; */
}
@keyframes slide{
    0%{opacity: 0;}
    100%{ opacity: 1;}
    }

.sec1 p{
    text-align: center;
    color: gray;
    margin-top: 50px;
    animation-name: slide;
  animation-duration: 2s;
  /* border: 2px solid blue; */
}
.sec1 img{
    border-radius: 20px;
    animation-name: slide;
  animation-duration: 2s;
  transition: 0.5s;
  /* border: 2px solid green; */
}


@media screen and (max-width:600px) {
    .sec1{
        display: contents;
        /* justify-content: space-around; */
        margin-top: 100px;
    }
    .sec1 h1{
        font-size: 20px;
    }
    .sec1 p{
        text-align: center;
        color: gray;
       font-size: 15px;
    }
    .sec1 img{
       display: none;
    }
    .join {
        position: relative;
        left: 110px;
        padding: 10px 45px;
    }
}
/* .foot1 {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px 0px 160px;
    color: white;
}
#footer{
    background-color: #6C3DD9;
    margin-top: 200px;
}
.fb img {
    padding-left: 15px;
    
}
.icon{
    margin-left: 135px;
    chan /
}

.foot2 {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px 0px 160px;
    color: white;
}

.foot2p p {
    font-weight: 500;
    padding-top: 20px;
}

.foot22p {
    display: flex;
}

.foot22p p {
    padding-left: 60px;
    padding-top: 20px;
    font-weight: 500;
    margin-bottom: 50px;
}

.foot3 {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 30px 100px 0px 160px;
    margin-left: 300px;
    chan
}

.foot3 p {
    padding-left: 30px;
}
@media screen and (max-width:600px)  {
    .foot1 {
      color: white;
      margin-left: 25px;
      width: 350px;
    }
    .foot1 img{
      width: 100px;
    }
    
    .fb img {
      padding-left: 15px;
      width: 25px;
  
    }
    .foot2 {
      display: contents;
      color:white;
      
    }
    
    .foot2p p {
      font-weight: 500;
      padding-top: 20px;
    }
    
    .foot22p {
      display: flex;
    }
    
    .foot22p p {
      padding-top: 20px;
      font-weight: 500;
      margin-bottom: 0px;
    }
    
    .foot3 {
      margin-left: 0px;
      color: white;
      width: 400px;
    }
    
    .foot3 p {
      font-size: 10px;
      margin-right: 20px;
    }
    .foot3 h4{
    
      font-size: 15px;
      margin-right: 20px;
    }
    
  }
 */

.full{
  position: relative;
  left: 290px;
  width: 1190px;
  padding-bottom: 100px;
  /* border: 2px solid greenyellow; */
}

.side-nav{
    width: 70px;
    overflow: hidden;
    height: 100%;
    background-color:#f2f2ff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 40px;
    padding-left: 0px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
   
}
.side-nav:hover{
    width: 250px;
}
.logo{
    display: flex;
    margin-bottom: 30px;
}

.navlinks{
    list-style: none;
    position: relative;
}
.navlinks {
    position: relative;
    top:20px;
}
.navlinks li{
    padding: 10px 0;
}

.navlinks li a{
    color: #6C3DD9;
    text-decoration: none;
    padding: 20px 14px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;

}
.navlinks li a i{
    font-size: 22px;
    white-space: nowrap;
    margin-right: 20px;
}

.active{
    background-color: #6C3DD9;
    width:100%;
    height:47px;
    position: absolute;
    left: 6%;
    top:3% ;
    z-index: -1;
    border-radius: 6px;
    box-shadow:0 5px 10px rgba(255, 255, 255, 0.4) ;
    display: none;
    transition: top 0.5s;
}

.navlinks li:hover a{
    color: white;
    transition: 0.3s; 
}
.navlinks li:hover i{
   transform: rotate(360deg);
    transition: 0.3s; 
}
.navlinks li:hover ~ .active{
    display: block;
}



.navlinks li:nth-child(1):hover ~ .active{
    top:5%
}
.navlinks li:nth-child(2):hover ~ .active{
    top:14.5%
}
.navlinks li:nth-child(3):hover ~ .active{
    top:28%
}
.navlinks li:nth-child(4):hover ~ .active{
    top:40.5%
}
.navlinks li:nth-child(5):hover ~ .active{
    top:53%
}
.navlinks li:nth-child(6):hover ~ .active{
    top:65.5%
}
.navlinks li:nth-child(7):hover ~ .active{
    top:78%
}
.navlinks li:nth-child(8):hover ~ .active{
    top:90.5%
}
.side-nav img{
     margin-left: 30px;
}
i{
    padding-right: 30px;
    padding-left: 30px;
   /* width: 60px; */
   color: black;
   transition: 1s;
}
/* i:hover{
    transform: rotate(360deg);
} */
ul{
    margin-top: 20px;
}

@media only screen and (max-width:600px) {
    .side-nav{
        width: 110px;

    }
    img{
        display: none;
    }
    nav-links li a i p{
        display: none;
    }
    nav-links li a i{
        margin-right: 0;
    }
    nav-links li a{
        justify-content: center;
    }
}