/* style sheet for home page  */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merienda', cursive;
  margin: 0px;
  
  background-image: url(../images/bodybg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* @keyframes slide{
  0%{opacity: 0;}
  100%{ opacity: 1;}
  } */

.menu-bar {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: #fff;

}

.menu-bar img {
  margin-left: 100px;
}

.menu-bar ul {
  display: flex;
}

.menu-bar ul li {
  position: relative;
  margin-right: 30px;
  list-style: none;
  font-size: 18px;
  padding-top: 6px;
  font-weight: 400;
}

.menu-bar ul li::after {
  content: '';
  display: block;
  background-color: #6C3DD9;
  height: 2px;
  width: 0%;
  margin: auto;
  transition: 0.5s;
}

.menu-bar ul li:hover::after {
  width: 100%;
}

.menu-bar ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #6C3DD9;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 90%;
}

.menu-bar ul li:hover .dropdown-menu ul {
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 120px;
}


/*welcome*/
.main2 {
  display: flex;
  justify-content: center;
  margin-top: 300px;
  margin-bottom: 300px;
}

.main1 {
  background-image: linear-gradient(rgb(4, 9, 30, 0.7), rgb(4, 9, 30, 0.7)), url(../images/handicapped\ person.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: 1587px;
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 90vh;
  
}

.main1full h1 {
  text-align: center;
  font-size: 40px;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #6C3DD9;
  animation-name: slide;
  animation-duration: 2s;
}

.main1full p {
  text-align: center;
  margin: 30px 35px;
  font-size: 18px;
  font-weight:700;
  line-height: 2;
  color: white;
 animation-name: slide;
  animation-duration: 4s;
}
.main1full img {
  margin-left: 280px;
}
@media screen and (max-width:600px) {
  .menu-bar {
    height: 80px;
    display:contents ;
    justify-content: space-between;
    align-items: none;
    position: sticky;
    top: 0px;
    /* border: 2px solid red; */
    background-color: #fff;
  
  }
  
  .menu-bar img {
    margin-left:0px;
    margin-top: 0px;
    width: 80px;
    /* border: 2px solid red; */
    position: relative;
    left:40%;
    
  }
  
  .menu-bar ul {
    display: flex;
    margin-top: 10px;
    width:550px;
    margin-left: 10px;
    /* border: 2px solid red; */
   
  }
  
  .menu-bar ul li {
    position: relative;
    margin-right: 13px;
    list-style: none;
    padding-top: 6px;
    
  }
  .menu-bar ul li a {
    font-size: 9px;
    text-decoration: none;
    color: #6C3DD9;
   
  }
  .main1 {
    background-image: linear-gradient(rgb(4, 9, 30, 0.7), rgb(4, 9, 30, 0.7)), url(../images/handicapped\ person\ mv.jpg);
    background-attachment: fixed;
    background-size: initial;
    min-height: 50vh;
    background-position:top;
    background-repeat: no-repeat;
    /* border: 2px solid red; */
    
  }
  .main1full h1 {
    text-align: center;
    font-size: 20px;
    margin: 0 0 20px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #6C3DD9;
    animation-name: slide;
    animation-duration: 2s;
  }
  .main1full p {
    text-align: center;
    margin-top: 30px;
    margin-left: 35px;
    font-size: 15px;
    font-weight:700;
    line-height: 2;
    color: white;
   animation-name: slide;
    animation-duration: 4s;
  }
  
  .main1full img {
    /* margin-left: 500px;
    width: 10px;
    border: 2px solid green; */
  }
}



/* about  */
.main2full h1 {
  text-align: center;
  font-size: 40px;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #6C3DD9;
  
}

.main2full p {
  text-align: center;
  margin: 0px 0px 35px;
  font-size: 18px;
  font-weight: 300;
  line-height: 2;
 
}

.learn {
  color: #fff;
  background-color: #6C3DD9;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 230px;
  padding: 20px 50px 20px 50px;
  border: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.learn:hover {
  color: #6C3DD9;
  background-color: white;
  border: 2px solid #6C3DD9;
  transform: scale(1.1);
}
@media screen and (max-width:600px){
  .main2{
    min-height: 40vh;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 0px;
  }
  .main2full h1 {
    font-size: 20px;
    margin-top: 20px;
    /* margin-left: 160px; */
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #6C3DD9;
    
  }
  
  .main2full p {
    margin-top: 30px;
    /* margin-left: 190px; */
    font-size: 13px;
    border: 2px solid red ;
    width: auto;
    font-weight:700;
    line-height: 2;
   
  }
  
  .learn {
    color: #fff;
    background-color: #6C3DD9;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 120px;
    padding: 20px 50px 20px 50px;
    border: none;
    text-transform: uppercase;
  }
}

/* gethelp  */
.main3 {
  background-image: linear-gradient(rgb(4, 9, 30, 0.7), rgb(4, 9, 30, 0.7)), url(../images/gethelp.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: 1487px;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main3full h1 {
  text-align: center;
  font-size: 40px;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #6C3DD9;
}

.main3full p {
  text-align: center;
  margin: 20px 35px;
  font-size: 18px;
  line-height: 2;
  color: white;
  font-weight: 700;
}

.gethelp {
  color: white;
  background-color: #6C3DD9;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 330px;
  padding: 20px 110px;
  border: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.gethelp:hover {
  color: #6C3DD9;
  background-color: white;
  border: 2px solid #6C3DD9;
  transform: scale(1.1);
}
@media screen and (max-width:600px) {
  .main3{
    background-image: linear-gradient(rgb(4, 9, 30, 0.7), rgb(4, 9, 30, 0.7)), url(../images/gethelp.jpg);
    background-attachment: local;
    background-size: 800px;
    min-height: 50vh;
    background-position:right;
    background-repeat: no-repeat;
    
  }
  .main3full h1 {
    text-align: center;
    font-size: 20px;
    margin: 0 0 20px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #6C3DD9;
  }
  
  .main3full p {
    text-align: center;
    margin-top: 30px;
    margin-left: 35px;
    font-size: 15px;
    font-weight:700;
    line-height: 2;
    color: white;
  }
  
  .gethelp {
    color: white;
    background-color: #6C3DD9;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 110px;
    padding: 20px 50px 20px 50px;
    border: none;
    text-transform: uppercase;
  }
  
}

/* get involved  */
.main4 {
  background-image: linear-gradient(rgb(4, 9, 30, 0.7), rgb(4, 9, 30, 0.7)), url(../images/vol.jpg);
  background-attachment: fixed;
  background-position: cover;
  background-size: 1450px;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main4full h1 {
  color: #6C3DD9;
  text-align: center;
  font-size: 40px;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

.main4full p {
  text-align: center;
  margin: 20px 0px 35px;
  font-size: 18px;
  line-height: 2;
  color: white;
  font-weight: 700;
}

.join {
  background-color: #6C3DD9;
  color: white;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 150px;
  padding: 20px 110px;
  border: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.join:hover {
  color: #6C3DD9;
  background-color: white;
  border: 2px solid #6C3DD9;
  transform: scale(1.1);
}
@media screen and (max-width:600px) {
  .main4 {
    background-image: linear-gradient(rgb(4, 9, 30, 0.7), rgb(4, 9, 30, 0.7)), url(../images/vol.jpg);
    background-attachment: local;
    background-size: 800px;
    min-height: 50vh;
    background-position:right;
    background-repeat: no-repeat;
    
  }
  
  .main4full h1 {
    color: #6C3DD9;
    text-align: center;
    font-size: 40px;
    margin: 0 0 20px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  .main4full p {
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
    font-weight:700;
    line-height: 2;
    color: white;
  }
  
  .join {
    color: white;
    background-color: #6C3DD9;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 120px;
    padding: 20px 50px 20px 50px;
    border: none;
    text-transform: uppercase;
  }
}

/* be inspire  */
.main5 {
  background-image: linear-gradient(rgb(4, 9, 30, 0.7), rgb(4, 9, 30, 0.7)), url(../images/inspiration-run.jpg);
  background-attachment: fixed;
  background-position: cover;
  background-size: 1450px;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main5full h1 {
  text-align: center;
  font-size: 40px;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #6C3DD9;
}

.main5full p {
  text-align: center;
  margin: 20px 0px 35px;
  font-size: 18px;
  line-height: 2;
  color: white;
  font-weight: 700;
}
@media screen and (max-width:600px) {
  .main5 {
    background-image: linear-gradient(rgb(4, 9, 30, 0.7), rgb(4, 9, 30, 0.7)), url(../images/inspiration-run.jpg);
    background-attachment:local;
    background-size: 600px;
    min-height: 50vh;
    background-position:right;
    background-repeat: no-repeat;
    
  }
}

/* contact  */
.main6 {
  background-color: #6C3DD9;
  background-size: 1750px;
  display: flex;
  justify-content: center;
  padding-top: 300px;
  padding-bottom: 300px;
}

.main6full h1 {
  text-align: center;
  font-size: 40px;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}

.main6full p {
  text-align: center;
  margin: 20px 0px 35px;
  font-size: 18px;
  line-height: 2;
  color: #fff;
  font-weight: 700;
}

.CONTACTS {
  color: #6C3DD9;
  background-color: white;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 285px;
  padding: 20px 110px;
  border: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.CONTACTS:hover {
  color: white;
  background-color: #6C3DD9;
  border: 2px solid white;
  transform: scale(1.1);
}
@media screen and (max-width:600px) {
  .main6{
    min-height: 40vh;
    padding-bottom:100px;
    padding-top: 0px;
    background-color: #6C3DD9;
  }
  
  .main6full h1 {
   
    color: white;
    text-align: center;
    font-size: 40px;
    margin: 0 0 20px;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  .main6full p {
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
    font-weight:700;
    line-height: 2;
    color: white;
  }
  
  .CONTACTS {
    color: #6C3DD9;
    background-color: white;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 110px;
    padding: 20px 50px 20px 50px;
    border: none;
    text-transform: uppercase;
  }
}
/* footer  */
.foot1 {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px 0px 160px;
  color: #6C3DD9;
}

.fb img {
  padding-left: 15px;
}

.foot2 {
  display: flex;
  justify-content: space-between;
  margin: 0px 100px 0px 160px;
  color: #6C3DD9;
}

.foot2p p {
  font-weight: 500;
  padding-top: 20px;
}

.foot22p {
  display: flex;
}

.foot22p p {
  padding-left: 60px;
  padding-top: 20px;
  font-weight: 500;
  margin-bottom: 50px;
}

.foot3 {
  display: flex;
  justify-content: space-between;
  color: #6C3DD9;
  margin: 30px 100px 0px 160px;
}

.foot3 p {
  padding-left: 30px;
}

@media screen and (max-width:600px)  {
  .foot1 {
    color: #6C3DD9;
    margin-left: 25px;
    width: 350px;
  }
  .foot1 img{
    width: 100px;
  }
  
  .fb img {
    padding-left: 15px;
    width: 25px;

  }
  .foot2 {
    display: contents;
    color: #6C3DD9;
    
  }
  
  .foot2p p {
    font-weight: 500;
    /* padding-top: 20px; */
  }
  
  .foot22p {
    display: flex;
  }
  
  .foot22p p {
    padding-top: 20px;
    font-weight: 500;
    margin-bottom: 0px;
  }
  
  .foot3 {
    margin-left: 0px;
    color: #6C3DD9;
    width: 400px;
  }
  
  .foot3 p {
    font-size: 10px;
    margin-right: 20px;
  }
  .foot3 h4{
  
    font-size: 15px;
    margin-right: 20px;
  }
  
}
