/* style sheet for volunteers working page  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merienda', cursive;
   
    background-image: url(../images/bodybg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    
}
caption{
    display: none;
}
th,
td {
    padding: 15px;
}

tr:nth-child(odd) {
    background-color: #d4c1ff;
}

th {
    background-color: #6C3DD9;
    color: white;
}

td {
    border: 2px solid gray;
}

table {
    width: 1150px;
    margin: 90px;
    border: 2px solid gray;
    animation-name: new;
    animation-duration: 4s;
}
@keyframes new{
    0%{ transform: translateX(1500px);opacity: 0;}
    100%{transform: translateX(0px);opacity: 1;}
    }
h1 {
    text-align: center;
    color: #6C3DD9;
    margin-bottom: 30px;
    margin-top: 30px;
    animation-name: slide;
    animation-duration: 2s;
}
@keyframes slide{
    0%{opacity: 0;}
    100%{ opacity: 1;}
    }
